<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="publisher_book" frontName="publisher_book">
            <module name="GB_PublisherBook"/>
        </route>
    </router>
</config>
